 


<div class="container">

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#" class="active">购物车</a></li>

    </ol>
    <div class="row">


        <div id="left" class="col-xs-4 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div>
            <!-- /input-group -->
            <div class="list-group">

                <a href="#" class="list-group-item  ">
                    <h4 class="list-group-item-heading">辽B23451</h4>

                    <p class="list-group-item-text">陈广发的Audi A6L</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">辽BEA421</h4>

                    <p class="list-group-item-text">张三的Audi A4</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">辽A00011</h4>

                    <p class="list-group-item-text">习晕晕的Audi A8</p>
                </a>
            </div>
        </div>
        <div id="right" class="col-xs-14 col-md-8">

            <div class="row">

                <div class="panel panel-success">
                    <!-- Default panel contents -->
                    <div class="panel-heading">购物车</div>
                    <div class="panel-body">
                        <p>...</p>
                    </div>

                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox">
                            </label>


                                <a class="pull-left" href="#">
                                    <img class="media-object img-responsive" src="images/product/1.jpg" alt="..." style="width: 60px;height: 60px">
                                </a>

                                <div class="media-body">
                                    <h4 class="media-heading">Media heading</h4>
                                    ...
                                </div>

                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 